<!--<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md space-y-4">-->
<!--    <h2 class="text-center text-xl font-bold text-gray-900">Budget Builder {{ year }}</h2>-->
<!--</div>-->
<!--<div>-->
<!--    <form [formGroup]="budgetForm" class="budget-form">-->
<!--        <app-select-->
<!--            label="Select start Date"-->
<!--            [options]="monthOptions"-->
<!--            [control]="budgetForm.controls['startDate']"-->
<!--        ></app-select>-->
<!--        <app-select-->
<!--            label="Select end Date"-->
<!--            [options]="endDates"-->
<!--            [control]="budgetForm.controls['endDate']"-->
<!--        ></app-select>-->
<!--    </form>-->
<!--    <div class="budget-form__list overflow-x-auto">-->
<!--        <table class="w-full max-w-full">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th style="width: 26em; min-width: 26em">-->
<!--                    Start Period-->
<!--                    {{ budgetForm.controls['startDate'].value }} End Period-->
<!--                    {{ budgetForm.controls['endDate'].value }}-->
<!--                </th>-->
<!--                <th-->
<!--                    *ngFor="let month of months.controls"-->
<!--                    class="budget-form__text-end"-->
<!--                >-->
<!--                    {{ BudgetMonth[month.value.month] }} {{ year }}-->
<!--                </th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody *ngIf="months.length">-->
<!--            <tr>-->
<!--                <td-->
<!--                    colspan="3"-->
<!--                    class="budget-form__bold budget-form__parent"-->
<!--                >-->
<!--                    Income-->
<!--                </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;Start Income&ndash;&gt;-->
<!--            <ng-container *ngFor="let subItem of income.controls; let r = index">-->
<!--                &lt;!&ndash;Sub of income - L1 &ndash;&gt;-->
<!--                <tr-->
<!--                    *ngFor="-->
<!--                            let cate of getSub(subItem).controls;-->
<!--                            let i = index-->
<!--                        "-->
<!--                >-->
<!--                    <td-->
<!--                        [ngClass]="{ 'budget-form__bold': i === 0 }"-->
<!--                        style="text-transform: capitalize; position: relative"-->
<!--                    >-->
<!--                        {{ cate.value.type }}-->
<!--                        <span class="delete-icon cursor-pointer active:scale-90 transition-transform" (click)="deleteCategory(i, income, subItem)">🗑️</span>-->
<!--                    </td>-->
<!--                    <td-->
<!--                        *ngFor="let month of months.controls"-->
<!--                        class="budget-form__text-end"-->
<!--                    >-->
<!--                        <input-->
<!--                            style="text-align: end; border: unset"-->
<!--                            [formControl]="-->
<!--                                    getMonthValue(-->
<!--                                        getMonth(cate),-->
<!--                                        month.value.month-->
<!--                                    )-->
<!--                                "-->
<!--                            class="budget-form__input input-value"-->
<!--                            (input)="-->
<!--                                    getMonthValue(-->
<!--                                        getMonth(cate),-->
<!--                                        month.value.month-->
<!--                                    ).setValue(formatNumb($event))-->
<!--                                "-->
<!--                            [matMenuTriggerFor]="menu"-->
<!--                        />-->
<!--                        <mat-menu #menu="matMenu" style="padding-left: 1em">-->
<!--                            <button-->
<!--                                mat-button-->
<!--                                mat-menu-item-->
<!--                                (click)="-->
<!--                                        applyToAll(cate, month.value.month)-->
<!--                                    "-->
<!--                            >-->
<!--                                Apply to all-->
<!--                            </button>-->
<!--                        </mat-menu>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div>-->
<!--                            <app-input-->
<!--                                (enter)="addSubCate1(subItem, $event)"-->
<!--                                class="budget-form__input-clear"-->
<!--                                [label]="-->
<!--                                        'Add a new ‘' +-->
<!--                                        subItem.value.category +-->
<!--                                        '’ Category'-->
<!--                                    "-->
<!--                                type="text"-->
<!--                                [isLabel]="false"-->
<!--                                [id]="'subInput'"-->
<!--                                [control]="cateForm.controls['inputCate']"-->
<!--                                [placeholder]="-->
<!--                                        'Add a new ‘' +-->
<!--                                        subItem.value.category +-->
<!--                                        '’ Category'-->
<!--                                    "-->
<!--                            />-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="budget-form__bold">Sub Totals</td>-->
<!--                    <td-->
<!--                        *ngFor="let month of months.controls"-->
<!--                        class="budget-form__text-end"-->
<!--                    >-->
<!--                        {{-->
<!--                            getSubTotal(-->
<!--                                subItem.value.total,-->
<!--                                month.value.month-->
<!--                            ) | number-->
<!--                        }}-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td *ngFor="let _ of months.value" style="color: white">-->
<!--                        empty-->
<!--                    </td>-->
<!--                    <td style="color: white">empty</td>-->
<!--                </tr>-->
<!--            </ng-container>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <div>-->
<!--                        <app-input-->
<!--                            (enter)="addParentCategory(income, 'parent')"-->
<!--                            class="budget-form__input-clear"-->
<!--                            label="Add New Parent Category"-->
<!--                            type="text"-->
<!--                            [isLabel]="false"-->
<!--                            [control]="parentCate"-->
<!--                            placeholder="Add New Parent Category"-->
<!--                        />-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td-->
<!--                    *ngFor="let subItem of months.value"-->
<!--                    style="color: white"-->
<!--                >-->
<!--                    e-->
<!--                </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;sum data &ndash;&gt;-->
<!--            <tr>-->
<!--                <td colspan="3" style="color: white">Sum income</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="budget-form__bold">Income Total</td>-->
<!--                <td-->
<!--                    *ngFor="let month of months.controls"-->
<!--                    class="budget-form__text-end budget-form__bold"-->
<!--                >-->
<!--                    {{-->
<!--                        getTotalMonth(totalIncome.value, month.value.month)-->
<!--                            | number-->
<!--                    }}-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td [attr.colspan]="months.length + 1" style="color: white">-->
<!--                    Start Expenses-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td-->
<!--                    [attr.colspan]="months.length + 1"-->
<!--                    class="budget-form__bold budget-form__parent"-->
<!--                >-->
<!--                    Expenses-->
<!--                </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;Start Expenses&ndash;&gt;-->
<!--            <ng-container *ngFor="let subItem of expenses.controls">-->
<!--                &lt;!&ndash;Sub of income - L1 &ndash;&gt;-->
<!--                <tr-->
<!--                    *ngFor="-->
<!--                            let cate of getSub(subItem).controls;-->
<!--                            let i = index-->
<!--                        "-->
<!--                >-->
<!--                    <td-->
<!--                        [ngClass]="{ 'budget-form__bold': i === 0 }"-->
<!--                        style="text-transform: capitalize"-->
<!--                    >-->
<!--                        {{ cate.value.type }}-->
<!--                        <span class="delete-icon cursor-pointer active:scale-90 transition-transform" (click)="deleteCategory(i, expenses, subItem)">🗑️</span>-->
<!--                    </td>-->
<!--                    <td-->
<!--                        *ngFor="let month of months.controls"-->
<!--                        class="budget-form__text-end"-->
<!--                    >-->
<!--                        <input-->
<!--                            style="text-align: end; border: unset"-->
<!--                            [formControl]="-->
<!--                                    getMonthValue(-->
<!--                                        getMonth(cate),-->
<!--                                        month.value.month-->
<!--                                    )-->
<!--                                "-->
<!--                            class="budget-form__input input-value"-->
<!--                            (input)="-->
<!--                                    getMonthValue(-->
<!--                                        getMonth(cate),-->
<!--                                        month.value.month-->
<!--                                    ).setValue(formatNumb($event))-->
<!--                                "-->
<!--                            [matMenuTriggerFor]="menu"-->
<!--                        />-->
<!--                        <mat-menu #menu="matMenu" style="padding-left: 1em">-->
<!--                            <button-->
<!--                                mat-button-->
<!--                                mat-menu-item-->
<!--                                (click)="-->
<!--                                        applyToAll(cate, month.value.month)-->
<!--                                    "-->
<!--                            >-->
<!--                                Apply to all-->
<!--                            </button>-->
<!--                        </mat-menu>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div>-->
<!--                            <app-input-->
<!--                                (enter)="addSubCate1(subItem, $event)"-->
<!--                                class="budget-form__input-clear"-->
<!--                                [label]="-->
<!--                                        'Add a new ‘' +-->
<!--                                        subItem.value.category +-->
<!--                                        '’ Category'-->
<!--                                    "-->
<!--                                type="text"-->
<!--                                [isLabel]="false"-->
<!--                                [control]="cateForm.controls['inputCate']"-->
<!--                                [placeholder]="-->
<!--                                        'Add a new ‘' +-->
<!--                                        subItem.value.category +-->
<!--                                        '’ Category'-->
<!--                                    "-->
<!--                            />-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="budget-form__bold">Sub Totals</td>-->
<!--                    <td-->
<!--                        *ngFor="let month of months.controls"-->
<!--                        class="budget-form__text-end"-->
<!--                    >-->
<!--                        {{-->
<!--                            getSubTotal(-->
<!--                                subItem.value.total,-->
<!--                                month.value.month-->
<!--                            ) | number-->
<!--                        }}-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td *ngFor="let _ of months.value" style="color: white">-->
<!--                        empty-->
<!--                    </td>-->
<!--                    <td style="color: white">empty</td>-->
<!--                </tr>-->
<!--            </ng-container>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <div>-->
<!--                        <app-input-->
<!--                            (enter)="addParentCategory(expenses, 'parent')"-->
<!--                            class="budget-form__input-clear"-->
<!--                            label="Add New Parent Category"-->
<!--                            type="text"-->
<!--                            [isLabel]="false"-->
<!--                            [control]="parentCate"-->
<!--                            placeholder="Add New Parent Category"-->
<!--                        />-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td-->
<!--                    *ngFor="let subItem of months.value"-->
<!--                    style="color: white"-->
<!--                >-->
<!--                    e-->
<!--                </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;sum data &ndash;&gt;-->
<!--            <tr>-->
<!--                <td [attr.colspan]="months.length + 1" style="color: white">-->
<!--                    S-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="budget-form__bold">Total Expenses</td>-->
<!--                <td-->
<!--                    *ngFor="let item of months.value"-->
<!--                    class="budget-form__text-end"-->
<!--                >-->
<!--                    {{-->
<!--                        getTotalMonth(totalExpenses.value, item.month)-->
<!--                            | number-->
<!--                    }}-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="budget-form__bold">Profit / Loss</td>-->
<!--                <td-->
<!--                    *ngFor="let item of months.value"-->
<!--                    class="budget-form__text-end"-->
<!--                >-->
<!--                    {{-->
<!--                        getTotalMonth(profitOrLoss.value, item.month)-->
<!--                            | number-->
<!--                    }}-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="budget-form__bold">Opening Balance</td>-->
<!--                <td-->
<!--                    *ngFor="let item of months.value"-->
<!--                    class="budget-form__text-end"-->
<!--                >-->
<!--                    {{-->
<!--                        getTotalMonth(openingBalance.value, item.month)-->
<!--                            | number-->
<!--                    }}-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="budget-form__bold">Closing Balance</td>-->
<!--                <td-->
<!--                    *ngFor="let item of months.value"-->
<!--                    class="budget-form__text-end"-->
<!--                >-->
<!--                    {{-->
<!--                        getTotalMonth(closingBalance.value, item.month)-->
<!--                            | number-->
<!--                    }}-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
<!--<button-->
<!--    mat-raised-button-->
<!--    color="primary"-->
<!--    (click)="saveBudget()"-->
<!--    class="budget-form__full-width"-->
<!--&gt;-->
<!--    Save As JSON File-->
<!--</button>-->

